<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python3" path=".py" verb="*" modules="CgiModule" scriptProcessor="C:\Python39\python3.exe %s %s" resourceType="Either" requireAccess="Execute" />
        </handlers>
    </system.webServer>
</configuration>
